# The dashboard password
PASSWORD=test

APP_PORT=9000

# LSP (Python Language Server) WebSocket Port
LSP_PORT=9001

# MCP Server Port, default is set to 9002
MCP_PORT=9002

# If you want to see the MCP server logs in the terminal, set this to true, default is true (recommended)
MCP_LOG_IN_TERMINAL=true

# If not using docker, you probably want to set this to "localhost"
POSTGRES_HOST=postgres
# POSTGRES_HOST=localhost
POSTGRES_NAME=jesse_db
POSTGRES_PORT=5432
POSTGRES_USERNAME=jesse_user
POSTGRES_PASSWORD=password

# If not using docker, you probably want to set this to "localhost"
# REDIS_HOST=localhost
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Live Trade Only: (Below value doesn't concern you if you haven't installed the live trade plugin)
# Enter the API token which you created at https://jesse.trade/user/api-tokens:
LICENSE_API_TOKEN=
