services:
  ### Jesse's Workspace ################################################
  jesse:
    build:
      context: .
      dockerfile: Dockerfile
    image: jesse-custom:latest
    depends_on:
      - postgres
      - redis
    tty: true
    env_file:
      - ../.env
    ports:
      - "9000:9000"
      # Jupyter Port
      - "8888:8888"
      # LSP Port
      - "9001:9001"
    volumes:
      - ../:/home
    container_name: jesse
    # The start.sh script launches both Jupyter and Jesse

  ### PostgreSQL ################################################
  postgres:
    image: postgres:14-alpine
    restart: always
    environment:
      - POSTGRES_USER=jesse_user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=jesse_db
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    container_name: postgres

  ### Redis ################################################
  redis:
    image: redis:6-alpine
    container_name: redis
    command: redis-server --save "" --appendonly no
    
volumes:
  postgres-data:

